<h1>Virtual scrioll</h1>

<div class="row">
    <div class="col">        
        <button 
            (click) = "goEnd()"
            class="btn btn-primary">
            End
        </button>
    </div>

    <div class="col text-center">        
        <button 
            (click) = "goInMiddle()"
            class="btn btn-warning">
            Middle
        </button>
    </div>

    <div class="col text-right">        
        <button 
            (click) = "goBegining()"
            class="btn btn-success">
            Begining
        </button>
    </div>
</div>


<hr>
<cdk-virtual-scroll-viewport itemSize="50" class="list-container lit-group mt-3">
    <div
        class="list-group-item" 
        *cdkVirtualFor="let person of persons; let i = index; let c = count">
        Item {{ i }} - {{ c }}
    </div>
</cdk-virtual-scroll-viewport>